{% extends 'common/base.html' %}
{% block title %}Jobs{% endblock %}
{% block content %}
<table class="layui-table" lay-skin="line" lay-size="sm">
    <thead>
    <tr>
        <th>序号</th>
        <th>name</th>
        <th>namespace</th>
        <th>completions</th>
        <th>parallelism</th>
        <th>active</th>
        <th>succeeded</th>
        <th>failed</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
        {% for i in joblist %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.metadata.name }}</td>
            <td>{{ i.metadata.namespace }}</td>
            <td>{{ i.spec.completions|default:"-" }}</td>
            <td>{{ i.spec.parallelism|default:"-" }}</td>
            <td>{{ i.status.active|default:"0" }}</td>
            <td>{{ i.status.succeeded|default:"0" }}</td>
            <td>{{ i.status.failed|default:"0" }}</td>
            <td>{{ i.metadata.creation_timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
