{% extends 'common/base.html' %}
{% block title %}deploymenys{% endblock %}
{% block content %}
<table class="layui-table" lay-skin="line" lay-filter="parse-table-demo" lay-size="sm">
    <thead>
    <tr>
        <th lay-data="{checkbox:true}">序号</th>
        <th lay-data="{field:'joinTime', width:150}">name</th>
        <th lay-data="{field:'joinTime', width:150}">namespace</th>
        <th lay-data="{field:'sign'}">创建时间</th>
    </tr>
    </thead>
    <tbody>
    {% for i in secretlist %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="">{{ i.metadata.name }}</a></td>
            <td><a href="">{{ i.metadata.namespace }}</a></td>
            <td>{{ i.metadata.creation_timestamp }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}