{% extends 'common/base.html' %}
{% block title %}添加集群{% endblock %}
{% block content %}
<div class="layui-container">  
	<div class="layui-row">
		<div class="layui-col-md9" style="margin-bottom:20px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
				<legend>添加集群（从文件添加）</legend>
			</fieldset>
			
			<form class="layui-form layui-form-pane" action="" method="post">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">粘贴配置文件在此处 ~/.kube/config</label>
					<div class="layui-input-block">
						<textarea name="config" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="addConfigForFile">添加</button>
						<button type="button" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
layui.use('layer', function(){
	var layer = layui.layer;
});
//Demo
layui.use('form', function(){
	var form = layui.form;
	
	form.on('submit(addConfigForFile)', function(data){
		console.log(data.field);
		$.post('/cluster/addcluster/', data.field, function(data, status){
			console.log(data);
			if(status == 'success'){
				if(data.status == 1){
					layer.msg(data.info);
					$('textarea[name="config"]').val('');
				}else{
					layer.msg(data.info);
				}
			}else{
				layer.msg('请求错误');
			}
		});
		return false;
	});
	
	// 重置按钮点击事件
	$('button[type="button"]').click(function(){
		$('textarea[name="config"]').val('');
	});
});
</script>
{% endblock %}